@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    position: relative; /* Para que el pseudo-elemento se posicione correctamente */
    background-color: rgb(218, 231, 250); /* Color de fondo del cuerpo */
}

body::after {
    content: ""; /* Contenido del pseudo-elemento */
    position: absolute; /* Posicionamiento absoluto en relación con el cuerpo */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("img/logo-academia.png"); /* Imagen de fondo */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-position: right; /* Posicionamiento de la imagen de fondo */
    opacity: 0.2; /* Opacidad del fondo de la imagen */
    z-index: -1; /* Para que el pseudo-elemento esté detrás del contenido del cuerpo */
}



.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container .btn-menu,
.logo {
    float: left;
    line-height: 100px;
}


.logo {
    width: 250px;
    margin-top: 10px;
}

.container .menu {
    float: right;
    line-height: 100px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #0056b3;
    padding-bottom: 5px;
}

/*Menú lateral*/
.img-menu {
    width: 35px;
}


.container-menu {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #007bff;

}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #007bff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.5s ease;
    z-index: 1000;
    transform: translateX(0); /* Asegura que el menú esté visible desde el principio */
}


.cont-menu nav {
    margin-top: 60px;
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #ffffff;
    background: #0056b3;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    font-size: 18px;
    z-index: 1000; /* Asegurar que la etiqueta de cierre del menú esté sobre el botón */
}

p {
    color: blue;
    margin-left: 20px;
}

.cont-menu {
    overflow-y: auto; /* Agregar barra de desplazamiento vertical */
}

.cont-menu nav .titulos-nav {
    color: rgb(255, 0, 0); /* Cambiar el color del texto para resaltar más */
    margin-left: 20px;
    font-size: 18px; /* Ajustar el tamaño del texto */
    font-weight: bold; /* Hacer que el texto sea más audaz */
}

/*Contenido de la página*/
.content {
    padding-top: 100px; /* Ajuste para que el contenido no se oculte detrás del encabezado */
    margin-top: 30px;
    margin-left: 400px; 
}

.navigation-buttons .nextButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 40px;
    margin-top: 40px;
}

.navigation-buttons .nextButton:hover {
    background-color: #0056b3;
}
iframe {
    width: 90%; /* Ajustar el ancho al contenedor */
    height: 1000px; /* Establecer una altura predeterminada */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Agregar una sombra para resaltar el iframe */
    border-radius: 10px; /* Agregar bordes redondeados */
    margin: 20px 0; /* Añadir un margen para separar el iframe de otros elementos */

}

